/* START GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  width: 90%;
  margin: auto;
}
.clear-fix {
  clear: both;
}

/* END GLOBAL */

/* START HOME */
.home {
  background-image: url("images/drew-coffman-1872.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.nav img {
  width: 19%;
  padding: 20px;
}
.nav ul {
  list-style-type: none;
  display: inline-block;
  width: 70%;
  text-align: center;
  margin-left: 80px;
  vertical-align: top;
  padding: 40px;
}

.nav ul li {
  display: inline-block;
}
.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 0 10px;
}

.content {
  text-align: center;
  padding: 100px;
}
h1 {
  color: white;
  font-size: 76px;
  font-family: "Alegreya", serif;
}
.content p {
  font-size: 22px;
  color: white;
  font-family: "Alegreya Sans", sans-serif;
}
.content .btn {
  color: white;
  padding: 20px 30px;
  border-radius: 5px;
}
.content .btn-1 {
  background-color: #623c23;
  border: none;
  margin-right: 15px;
}
.content .btn-2 {
  background-color: transparent;
  border: 2px solid white;
}
.content p,
h1 {
  margin-bottom: 30px;
}

/* END HOME */

/* START WHO ARE */
.who-are {
  margin: 100px 0;
  padding: 100px 0;
}
.who-pic {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}
.who-pic img {
  width: 90%;
}

.who-content {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
}
.who-content h2 {
  font-family: "Alegreya", serif;
  font-size: 32px;
  margin-bottom: 30px;
}
.who-content p {
  margin-bottom: 30px;
  line-height: 30px;
  color: #969696;
}
.who-content p img {
  width: 30px;
  vertical-align: middle;
}
/* END WHO ARE */

/* START LOCATION */
.location {
  background-color: #f8f8f8;
  padding: 100px 0;
  margin: 100px 0;
}
.location-content {
  display: inline-block;
  width: 49%;
  vertical-align: middle;
  padding: 20px;
}
.location-img {
  display: inline-block;
  width: 49%;
  vertical-align: middle;
  padding: 20px;
}
.location-img img {
  width: 90%;
}
.location-content h2 {
  font-family: "Alegreya", serif;
  font-size: 32px;
  margin-bottom: 30px;
}
.location-content p {
  line-height: 30px;
  margin-bottom: 30px;
  color: #969696;
}
/* END LOCATION */

/* START BAKING */
.baking {
  margin: 100px 0;
  padding: 100px 0;
}
.our-baking {
  text-align: center;
}
.our-baking h2 {
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "Alegreya", serif;
}
.our-baking p {
  margin-bottom: 30px;
  color: #969696;
}
.baking .items {
  float: left;
  width: 33.3333%;
  text-align: center;
  padding: 20px;
}
.items img {
  width: 100%;
  margin-bottom: 30px;
}
.items h4 {
  font-size: 22px;
  font-family: "Alegreya", serif;
  margin-bottom: 30px;
}
.items p {
  line-height: 30px;
  margin-bottom: 30px;
}
/* END BAKING */

/* START CONTACT INFO */
.contact-info {
  background-color: #f8f8f8;
  /* margin: 100px 0; */
  padding: 100px 0;
}
.contact-content {
  float: left;
  width: 50%;
  padding: 20px;
}
.contact-content p {
  margin-bottom: 30px;
  line-height: 30px;
}
.contact-content h2 {
  margin-bottom: 30px;
}

.contact-info ul {
  list-style-type: none;
  vertical-align: middle;
  display: inline-block;
  padding: 0;
}
.contact-info ul li img {
  width: 20px;
  background-color: #8e7754;
  vertical-align: top;
  border-radius: 50%;
  margin-bottom: 30px;
}
.contact-map iframe {
  float: right;
  width: 40%;
  padding: 20px;
}
/* END CONTACT INFO */

/* START ABOUT */
.about {
  background-color: #403d38;
  padding: 60px 0;
}
.about-info h4 {
  margin-bottom: 30px;
  color: white;
  padding-top: 10px;
}
.about-info p {
  margin-bottom: 30px;
  color: #969696;
  line-height: 30px;
}
.about img {
  width: 20px;
  vertical-align: middle;
}
.about ul {
  list-style-type: none;
}
.about ul li {
  border-bottom: 1px white solid;
  padding: 10px;
  color: #969696;
}

.about li:last-child {
  border: none;
}
.about-info {
  float: left;
  width: 25%;
}
.why-special {
  float: left;
  width: 25%;
}
.why-special h4 {
  color: white;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-top: 10px;
}
.open-hours {
  float: left;
  width: 25%;
}
.open-hours h4 {
  padding-left: 50px;
  padding-top: 10px;
  color: white;
  margin-bottom: 30px;
}
.contact-detail {
  float: left;
  width: 25%;
}
.contact-detail h4 {
  padding-left: 50px;
  padding-top: 10px;
  color: white;
  margin-bottom: 30px;
}

/* END ABOUT */

/* START FOOTER */
.footer {
  background-color: #353330;
  padding: 50px;
  text-align: center;
}
.logo-footer img {
  margin-bottom: 30px;
}

.footer-content p {
  margin-bottom: 30px;
  color: #969696;
}
.footer-icons img {
  width: 50px;
}
/* END FOOTER */
